body {
font-family : 'Liberation Sans', sans-serif;
font-size : 1.0rem;
max-width : 800px;
margin-left : auto;
margin-right : auto;
}
span.Emphasis {
font-style : italic;
background-color : transparent;
}
span.StrongEmphasis {
font-weight : bold;
background-color : transparent;
}
a:link {
color : #000080;
text-decoration : none;
}
a:visited {
font-family : 'Liberation Sans', sans-serif;
color : #800000;
text-decoration : underline;
}
a.Internet20link:link {
color : #000080;
text-decoration : none;
}
a.Internet20link:visited {
font-family : 'Liberation Sans', sans-serif;
color : #800000;
text-decoration : underline;
}
p.Textbodyindent {
margin-left : 3.070866rem;
margin-right : 0;
margin-top : 0;
margin-bottom : 0.5007874rem;
border : none;
padding : 0;
background-color : transparent;
text-indent : 0;
font-size : 0.9166667rem;
}
p.List1 {
margin-left : 0;
margin-right : 0;
margin-top : 0;
margin-bottom : 0.5007874rem;
border : none;
padding : 0;
background-color : transparent;
font-family : 'Liberation Sans', sans-serif;
font-size : 0.9166667rem;
}
p.Numbering1 {
margin-left : 0;
margin-right : 0;
margin-top : 0;
margin-bottom : 0.5007874rem;
border : none;
padding : 0;
background-color : transparent;
font-family : 'Liberation Sans', sans-serif;
font-size : 0.9166667rem;
}
p.Heading4 {
margin-left : 0;
margin-right : 0;
margin-top : 0.7535433rem;
margin-bottom : 0.25748032rem;
border : none;
padding : 0;
font-family : 'Liberation Sans', sans-serif;
font-weight : bold;
font-size : 1.0rem;
color : #007c3c;
}
p.Subtitle {
page-break-after : always;
margin-left : 1.511811rem;
margin-right : 0;
margin-top : 0.992126rem;
margin-bottom : 0.496063rem;
border : none;
padding : 0;
text-indent : -1.511811rem;
text-align : left;
font-family : 'Liberation Sans', sans-serif;
font-style : italic;
font-size : 1.5rem;
color : #007c3c;
}
p.NewChapter {
page-break-before : always;
margin-left : 0;
margin-right : 0;
margin-top : 0;
margin-bottom : 0;
border : none;
padding : 0;
background-color : transparent;
text-align : center;
font-size : 0.9166667rem;
}
p.Title {
margin-left : 2.6716537rem;
margin-right : 0;
margin-top : 8.338583rem;
margin-bottom : 0.496063rem;
border : none;
padding : 0;
text-indent : -2.6716537rem;
font-family : 'Liberation Sans', sans-serif;
font-style : italic;
font-weight : normal;
font-size : 2.6666667rem;
color : #000000;
}
p.Textbody {
margin-left : 0;
margin-right : 0;
margin-top : 0;
margin-bottom : 0.5007874rem;
border : none;
padding : 0;
background-color : transparent;
font-size : 0.9166667rem;
}
p.Contents2 {
margin-left : 1.1787403rem;
margin-right : 0;
margin-top : 0;
margin-bottom : 0;
border : none;
padding : 0;
text-indent : 0;
font-family : 'Liberation Sans', sans-serif;
font-size : 0.9166667rem;
}
p.BodyTextListIntro {
margin-left : 0;
margin-right : 0;
margin-top : 0;
margin-bottom : 0.5007874rem;
border : none;
padding : 0;
background-color : transparent;
text-indent : 0;
font-size : 0.9166667rem;
}
p.Figure {
margin-left : 0;
margin-right : 0;
margin-top : 0;
margin-bottom : 0.496063rem;
border : none;
padding : 0;
background-color : transparent;
text-align : center;
font-style : italic;
font-size : 0.9166667rem;
}
p.DefinitionTerm {
margin-left : 0.99921256rem;
margin-right : 0;
margin-top : 0;
margin-bottom : 0.2503937rem;
border : none;
padding : 0;
background-color : transparent;
text-indent : 0;
font-weight : bold;
font-size : 0.9166667rem;
}
p.Contents1 {
margin-left : 0;
margin-right : 0;
margin-top : 0.496063rem;
margin-bottom : 0;
border : none;
padding : 0;
text-indent : 0;
font-family : 'Liberation Sans', sans-serif;
font-weight : bold;
font-size : 1.0rem;
}
p.BodyTextNote {
margin-left : 2.3622048rem;
margin-right : 2.3622048rem;
margin-top : 0;
margin-bottom : 0.5007874rem;
border-top : none;
border-bottom : 0.0825rem solid #000000;
border-left : none;
border-right : none;
padding-top : 0;
padding-bottom : 0.11574804rem;
padding-left : 0;
padding-right : 0;
background-color : transparent;
text-indent : 0;
font-size : 0.9166667rem;
}
p.ListContents {
margin-left : 3.0rem;
margin-right : 0;
margin-top : 0;
margin-bottom : 0.5007874rem;
border : none;
padding : 0;
background-color : transparent;
text-indent : 0;
font-size : 0.9166667rem;
}
p.HeadingNote {
margin-left : 0;
margin-right : 0;
margin-top : 0.992126rem;
margin-bottom : 0.25748032rem;
border : none;
padding : 0;
background-color : #d9f1dd;
font-family : 'Liberation Sans', sans-serif;
font-weight : bold;
font-size : 1.0rem;
color : #000000;
}
h1 {
margin-left : 1.3204725rem;
margin-right : 0;
margin-top : 1.2496063rem;
margin-bottom : 0.496063rem;
border-top : none;
border-bottom : 0.0825rem solid #007c3c;
border-left : none;
border-right : none;
padding-top : 0;
padding-bottom : 0.11574804rem;
padding-left : 0;
padding-right : 0;
text-indent : -1.3204725rem;
font-family : 'Liberation Sans', sans-serif;
font-weight : bold;
font-size : 1.3333334rem;
color : #007c3c;
clear : left;
}
h1.Heading1First {
margin-left : 1.3204725rem;
margin-right : 0;
margin-top : 0;
margin-bottom : 0.7535433rem;
border-top : none;
border-bottom : 0.0825rem solid #007c3c;
border-left : none;
border-right : none;
padding-top : 0;
padding-bottom : 0.11574804rem;
padding-left : 0;
padding-right : 0;
background-color : transparent;
text-indent : -1.3204725rem;
font-family : 'Liberation Sans', sans-serif;
font-weight : bold;
font-size : 1.3333334rem;
color : #007c3c;
clear : left;
}
h1.ContentsHeading {
margin-left : 0;
margin-right : 0;
margin-top : 0.992126rem;
margin-bottom : 0.496063rem;
border-top : none;
border-bottom : 0.0825rem solid #007c3c;
border-left : none;
border-right : none;
padding-top : 0;
padding-bottom : 0.11574804rem;
padding-left : 0;
padding-right : 0;
text-indent : 0;
font-family : 'Liberation Sans', sans-serif;
font-weight : bold;
font-size : 1.3333334rem;
color : #007c3c;
clear : left;
}
h2 {
margin-left : 0.992126rem;
margin-right : 0;
margin-top : 0.992126rem;
margin-bottom : 0.496063rem;
border : none;
padding : 0;
text-indent : -0.992126rem;
font-family : 'Liberation Sans', sans-serif;
font-weight : bold;
font-size : 1.1666667rem;
color : #007c3c;
clear : left;
}
.listlevel1Numbering1 {
margin-top : 0;
margin-bottom : 0;
list-style-type : decimal;
clear : left;
}
.listlevel1List1 {
margin-top : 0;
margin-bottom : 0;
list-style-type : disc;
clear : left;
}
.listlevel1HeadingNote {
margin-top : 0;
margin-bottom : 0;
list-style-image : url("images/Nota.svg");
clear : left;
}
.frameGraphics {
margin-left : 0;
margin-right : 0;
margin-top : 0;
margin-bottom : 0;
border : none;
padding : 0;
background-color : transparent;
font-size : 1.0rem;
}
.frameFrame {
margin-left : 0.47480318rem;
margin-right : 0.47480318rem;
margin-top : 0.47480318rem;
margin-bottom : 0.47480318rem;
border : #000000 solid 1px;
padding : 0.35433072rem;
background-color : transparent;
font-size : 1.0rem;
}
.frameGraphics p {
margin-left : 0;
margin-right : 0;
margin-top : 0;
margin-bottom : 0;
font-size : 1.0rem;
}
.frameFrame p {
margin-left : 0.47480318rem;
margin-right : 0.47480318rem;
margin-top : 0.47480318rem;
margin-bottom : 0.47480318rem;
font-size : 1.0rem;
}
